consumer/*.o
consumer/consumer
consumer/*.dSYM/
consumer/consumer.xcodeproj/
consumer/main_test*
consumer/ring_buffer_test
consumer/tmp/*
consumer/vendor/*
producer/build-*/
producer/Arduino-Makefile/
