display/*.o
display/tmp/*
display/vendor/*
display/moc_*.cpp
display/display
display/*.app
display/*.pro
display/Makefile.generated
display/ring_buffer_test
display/.device.vars
display/.qmake.vars
display/config.tests/
